Repository Project-aniwhere/Aniwhere-BE, pull requests merged in 2024-12, with the labels that each got.

#33 fix-mail PR
  src/main/java/com/example/aniwhere/controller/mail/MailApiController.java
  src/main/java/com/example/aniwhere/domain/user/dto/UserDTO.java
Labels: In Progress, Completed, Improvement

#35 fix-users PR
  src/main/java/com/example/aniwhere/application/config/CookieConfig.java
  src/main/java/com/example/aniwhere/application/jwt/JwtTokenFilter.java
  src/main/java/com/example/aniwhere/controller/mail/MailApiController.java
  src/main/java/com/example/aniwhere/controller/token/TokenApiController.java
  src/main/java/com/example/aniwhere/controller/user/OAuth2ApiController.java
  src/main/java/com/example/aniwhere/controller/user/UserApiController.java
  src/main/java/com/example/aniwhere/domain/user/dto/UserDTO.java
  src/main/java/com/example/aniwhere/global/common/ApiResponse.java
  src/main/java/com/example/aniwhere/global/common/Common.java
  src/main/java/com/example/aniwhere/global/error/ErrorCode.java
  src/main/java/com/example/aniwhere/global/error/ErrorResponse.java
  src/main/java/com/example/aniwhere/global/error/GlobalExceptionHandler.java
  src/main/java/com/example/aniwhere/global/error/exception/BusinessException.java
  src/main/java/com/example/aniwhere/service/redis/RedisService.java
  src/main/java/com/example/aniwhere/service/user/EmailService.java
  src/main/java/com/example/aniwhere/service/user/EmailVerificationService.java
  src/main/java/com/example/aniwhere/service/user/UserService.java
Labels: bug, In Progress, Users, Refactoring, Improvement

#37 chore-swagger PR
  src/main/java/com/example/aniwhere/application/config/SecurityConfig.java
  src/main/java/com/example/aniwhere/application/config/SwaggerConfig.java
  src/main/java/com/example/aniwhere/application/jwt/JwtTokenFilter.java
Labels: In Progress, Completed, CI/CD, Improvement

#42 feature-episodes PR
  build.gradle
  src/main/java/com/example/aniwhere/application/config/QueryDslConfig.java
  src/main/java/com/example/aniwhere/application/config/SecurityConfig.java
  src/main/java/com/example/aniwhere/application/jwt/JwtTokenFilter.java
  src/main/java/com/example/aniwhere/controller/episodes/EpisodesApiController.java
  src/main/java/com/example/aniwhere/domain/anime/Anime.java
  src/main/java/com/example/aniwhere/domain/episodes/Episodes.java
  src/main/java/com/example/aniwhere/domain/episodes/dto/EpisodesDto.java
  src/main/java/com/example/aniwhere/repository/episodes/EpisodesRepository.java
  src/main/java/com/example/aniwhere/service/episodes/EpisodesService.java
Labels: enhancement, In Progress, Episodes

#45 feature-episodes-review PR
  src/main/java/com/example/aniwhere/application/config/PaginationConfig.java
  src/main/java/com/example/aniwhere/controller/episodes/EpisodeApiController.java
  src/main/java/com/example/aniwhere/controller/episodes/EpisodesApiController.java
  src/main/java/com/example/aniwhere/domain/anime/Anime.java
  src/main/java/com/example/aniwhere/domain/episodeReviews/EpisodeReviews.java
  src/main/java/com/example/aniwhere/domain/episodeReviews/dto/EpisodeReviewRequest.java
  src/main/java/com/example/aniwhere/domain/episodeReviews/dto/EpisodeReviewResponse.java
  src/main/java/com/example/aniwhere/domain/user/User.java
  src/main/java/com/example/aniwhere/global/error/ErrorCode.java
  src/main/java/com/example/aniwhere/repository/episodes/EpisodeRepositoryImpl.java
  src/main/java/com/example/aniwhere/repository/episodes/EpisodesRepository.java
  src/main/java/com/example/aniwhere/repository/episodes/EpisodesRepositoryCustom.java
  src/main/java/com/example/aniwhere/repository/episodesReview/EpisodesRepositoryImpl.java
  src/main/java/com/example/aniwhere/repository/episodesReview/EpisodesReviewRepository.java
  src/main/java/com/example/aniwhere/repository/episodesReview/EpisodesReviewRepositoryCustom.java
  src/main/java/com/example/aniwhere/service/episodes/EpisodeService.java
Labels: enhancement, In Progress, Episodes, Code Review

#49 AnimeController api 주소 수정
  src/main/java/com/example/aniwhere/application/anime/controller/AnimeController.java
Labels: bug, anime

#53 fix episode review PR
  src/main/java/com/example/aniwhere/application/config/WebConfig.java
  src/main/java/com/example/aniwhere/application/config/cookie/CookieConfig.java
  src/main/java/com/example/aniwhere/domain/episodeReviews/EpisodeReviews.java
  src/main/java/com/example/aniwhere/domain/episodes/Episodes.java
  src/main/java/com/example/aniwhere/service/episodes/EpisodeService.java
  src/main/java/com/example/aniwhere/service/token/TokenService.java
  src/main/java/com/example/aniwhere/service/user/UserService.java
Labels: In Progress, Refactoring, Improvement, Episodes, Code Review, Review

#54 hotfix-social-login PR
  src/main/java/com/example/aniwhere/application/config/WebConfig.java
  src/main/java/com/example/aniwhere/application/config/cookie/CookieConfig.java
Labels: bug

#57 Refactor user
  src/main/java/com/example/aniwhere/application/auth/jwt/provider/TokenProvider.java
  src/main/java/com/example/aniwhere/domain/token/RefreshToken.java
  src/main/java/com/example/aniwhere/repository/token/RefreshTokenRepository.java
  src/main/java/com/example/aniwhere/service/redis/RedisService.java
  src/main/java/com/example/aniwhere/service/token/TokenService.java
  src/main/java/com/example/aniwhere/service/user/UserService.java
Labels: Users, Refactoring

#59 fix-episodes PR
  src/main/java/com/example/aniwhere/application/auth/jwt/JwtWhitelist.java
  src/main/java/com/example/aniwhere/application/config/CorsConfig.java
  src/main/java/com/example/aniwhere/application/config/WebConfig.java
  src/main/java/com/example/aniwhere/application/config/cookie/CookieConfig.java
  src/main/java/com/example/aniwhere/application/config/security/SecurityConfig.java
  src/main/java/com/example/aniwhere/controller/episodes/EpisodeApiController.java
Labels: bug, enhancement, In Progress, Improvement, Code Review

#60 hotfix-cookie PR
  src/main/java/com/example/aniwhere/application/config/cookie/CookieConfig.java
Labels: bug, Improvement
